.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--sz8);
  padding: 20px;
}
.spinner {
	width: 30px;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 3px solid transparent;
	border-left-color: var(--gray300);
	border-bottom-width: 0;
	animation: spin .5s linear infinite;
}

.loading-text {
	font-size: var(--fs16);
	color: var(--gray300);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}